body{
	font-family:Georgia, serif;
	min-width:1024px;
	font-size:120%;
	margin:0;
	background-color:#ffe3c5;
	color:#9d2516;
}

header{
	background-color:#9d2516;
	color:#ffe3c5;
	margin:0 auto 10px auto;
	font-size:140%;
	border-bottom:1px black solid;
	display:block;
}
header h1,header p{
	text-shadow:2px 2px black;
	margin:0 0 0 10px;
	padding-bottom:5px;
}
aside, #search{
	float:left;
	width:24%;
}

ol{
	float:right;
	margin:20px auto 5px auto;
	font-size:50%;
	list-style-position:inside;
}

ol li{
	margin:2px;
}
#cont{
	width:45%;
	padding:0 10px;
	float:left;
}
h1, h2, h3{
	margin-top:0;
	font-weight:normal;
	text-shadow:1px 1px black;
}
ul{
	list-style-type:none;
	padding-left:5px;
	font-size:80%;
}
#volume{
	float:right;
	margin-top:-15px;
}
#volume h3{
	margin:0;
	font-size:90%;
}
#volume ul{
	margin:0;
	text-align:center;
}
#volume li{
	cursor:pointer;
}
.curvol{
	font-weight:bold;
}
#player li{
	display:inline;
	margin:2px 2px;
}
#player a:link,#player a:visited,#player a:hover,#player a:active{
	color:black;
	text-decoration:none;
}
#player a:hover{
	color:#9d2516;
}
.current{
	background-color:#CCC;
}
#search form,fieldset{
	border:none;
	width:93%;
}
#search{
	margin-left:5px;
}
#search form{
	margin-bottom:20px;
}
#playlist,#searchresults{
	height:25em;
	overflow:scroll;
	overflow-x:hidden;
}
#searchresults{
	height:16em;
}
#playlist li,#searchresults li{
	border-bottom:1px black dashed;
	padding:4px 0;
}
#searchresults li .compsong,#playlist li a{
	width:95%;
	display:block;
	margin-left:15px;
}
#nextsearch{
	float:right;
}
#playlist li:hover,#searchresults li:hover{
	background-color:#BBF;
}
.song,.artist{
	font-style:italic;
	font-size:120%;
}
.song{
	display:block;
	margin-left:-15px;
}
.tagspan{
	display:block;
	margin-left:15px;
}
.del,.add{
	float:right;
	width:50px;
}
.add{
	width:35px;
}
#player{
	text-align:center;
}
input{
	display:inline;
}



#cassette{
	height:165px;
	width:270px;
	background-color:#9d2516;
	-moz-border-radius:10px;
	border-radius:10px;
	padding:20px;
	margin:0 auto;
}
#label{
	height:135px;
	width:270px;
	background-color:#FAEBB9;
	margin:auto;
	display:block;
	-moz-border-top-left-radius:5px;
	-moz-border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	font-size:80%;
	padding:0;
	text-align:center;
}
#label p{
	width:80%;
	margin:2px auto;
	border-bottom:dashed black 2px;
}
#centre{
	width:100%;
	height:37px;
	margin:20px auto 0;
	padding:5px 0 0 0;
}
#spindles{
	height:20px;
	width:40%;
	border-radius:30px;
	background-color:#333;
	margin:0 auto;
}
#bottom{
	background-color:#333;
	width:60%;
	height:52px;
	margin:0 auto;
}